<footer class="mt-auto">
<div>
        Icons made by&nbsp;<a href="https://www.freepik.com">Freepik&nbsp;</a>
        from&nbsp;<a href="https://www.flaticon.com/">www.flaticon.com</a>
</div>
</footer>